.chat-card {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .chat-header {
    padding: 10px;
    background-color: #007bff;
    display: flex;
    align-items: center;
  }
  
  .chat-header .h2 {
    font-size: 16px;
    color: #333;
  }
  
  .chat-body {
    padding: 20px;
    max-height: 150px; /* Altura máxima antes de ativar a barra de rolagem */
    overflow-y: auto; /* Adiciona scroll vertical se necessário */
    height: 100px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .incoming {
    background-color: #e1e1e1;
  }
  
  .outgoing {
    background-color: #f2f2f2;
    text-align: right;
  }
  
  .message p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  .chat-footer {
    padding: 10px;
    background-color: #007bff;
    display: flex;
  }
  
  .chat-footer input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 3px;
  }
  
  .chat-footer button {
    padding: 5px 10px;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-footer button:hover {
    background-color: #0f9d58;
  }
  
  @keyframes chatAnimation {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .chat-card .message {
    animation: chatAnimation 0.3s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0.1s;
  }
  
  .chat-card .message:nth-child(even) {
    animation-delay: 0.2s;
  }
  
  .chat-card .message:nth-child(odd) {
    animation-delay: 0.3s;
  }
/* 
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40; */