.floating-input{
    margin-left: 13px !important;
}

.btn-menu-main i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.btn-menu-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Opcional, para ajustar os tamanhos */
    height: 58px; /* Ajuste o tamanho conforme necessário */
    width: 60px; /* Ajuste o tamanho conforme necessário */
}

/* Navbar container */
.navbar {
    background-color: #343a40;
    padding: 10px 15px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #17a2b8;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Icons */
.navbar-nav .nav-item .nav-link i {
    margin-right: 8px;
    font-size: 18px;
}

/* Responsive collapse */
.collapse {
    justify-content: flex-end;
}

.minha-textarea {
    height: 350px !important; /* Altura fixa */
    resize: vertical; /* Permite redimensionamento vertical pelo usuário (opcional)*/
    /* ou */
    min-height: 200px; /* Altura mínima */
    max-height: 500px; /* Altura máxima */
    overflow-y: auto; /* Adiciona scrollbar vertical quando necessário */
  }

  .logonorte{
    height: 30px;
    width: 145px;
  }

/* Loader Styles */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex; /* Mostra o loader por padrão */
    flex-direction: column; /* Alinha elementos na vertical */
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.progress {
    height: 30px; /* Altura ajustada */
    width: 80%; /* Largura da barra */
    margin: 0 auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
    position: absolute;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}